@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-global {
    appearance: button;
    background-color: #4d4ae8;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0)
    );
    border: 1px solid #4d4ae8;
    border-radius: 0.4rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
        rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;

    &:focus:not(:focus-visible),
    &:focus {
        outline: 0;
    }

    &:hover {
        background-color: #3733e5;
        border-color: #3733e5;
    }

    &:focus {
        background-color: #413fc5;
        border-color: #3e3bba;
        box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
            rgba(46, 54, 80, 0.075) 0 1px 1px,
            rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
    }

    &:active {
        background-color: #3e3bba;
        background-image: none;
        border-color: #3a38ae;
        box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
    }

    &:active:focus {
        box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset,
            rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
    }

    &:disabled {
        background-image: none;
        box-shadow: none;
        opacity: 0.65;
        pointer-events: none;
    }
}
