@use "@/sass/global_req" as *;

.chat-page {
    height: 100vh;
    width: 100%;
    max-width: $maxW;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .chat-page-header {
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            flex: 1;
            font-family: $font;
        }
        nav {
            flex: 3;
            ul {
                display: flex;
                gap: 30px;
                li {
                    list-style: none;
                    font-family: $font;
                    padding: 20px 10px;
                    padding-bottom: 10px;
                    border-bottom: 6px solid $purple;
                }
            }
        }
        .user-profile {
            display: flex;
            gap: 10px;
            align-items: center;
            .pp {
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
            .name {
                font-family: $font;
            }
        }
    }
    .chat-page-body {
        flex: 1;
        display: grid;
        grid-template-columns: 0.8fr 2fr;
        background-color: gray;

        .left-bar {
            display: flex;
            flex-direction: column;
            .query {
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                input {
                    padding: 8px 10px;
                    border-radius: 13px;
                    outline: none;
                    border: none;
                }
                .actions {
                    display: flex;
                    gap: 20px;
                    button {
                        all: unset;
                        border-radius: 20px;
                        text-align: center;
                        font-family: $font;
                        flex: 1;
                        padding: 6px 20px;
                        background-color: white;
                    }
                }
            }
            .conversations {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 6px;
                .conv {
                    background-color: white;
                    padding: 20px;
                    cursor: pointer;
                    &.active {
                        background-color: red;
                    }
                }
            }
        }
        .chat {
            background-color: gray;
            .chat-structure {
                display: flex;
                height: 100%;
                flex-direction: column;
                .chat-body {
                    flex: 1;
                }
            }
        }
    }
}
