@use "@/sass/global_req" as *;

.chat-page {
    height: 100vh;
    width: 100%;
    max-width: $maxW;
    margin: 0 auto;

    .chat-page-header {
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        .logo {
            flex: 1;
            font-family: $font;
        }
        nav {
            flex: 3;
            height: 100%;
            ul {
                display: flex;
                gap: 30px;
                height: 100%;
                li {
                    list-style: none;
                    font-family: $font;
                    padding: 20px 10px;
                    padding-bottom: 10px;
                    position: relative;
                    .underline {
                        position: absolute;
                        height: 5px;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        background-color: red;
                    }
                }
            }
        }
        .user-profile {
            display: flex;
            gap: 10px;
            align-items: center;
            .pp {
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
            .name {
                font-family: $font;
            }
        }
    }
    .chat-page-body {
        display: grid;
        grid-template-columns: 0.8fr 2fr;
        background-color: gray;
        height: calc(100vh - 60px);

        .left-bar {
            display: flex;
            flex-direction: column;
            background-color: #f2efff;
            .query {
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                input {
                    padding: 8px 10px;
                    border-radius: 13px;
                    outline: none;
                    border: none;
                }
                .actions {
                    display: flex;
                    gap: 20px;
                    button {
                        all: unset;
                        border-radius: 20px;
                        text-align: center;
                        font-family: $font;
                        flex: 1;
                        padding: 6px 20px;
                        background-color: white;
                    }
                }
            }
            .conversations {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 6px;
                .conv {
                    background-color: white;
                    padding: 20px;
                    cursor: pointer;
                    font-family: $font;
                    position: relative;

                    .active-indicator {
                        position: absolute;
                        @include background();
                        top: 0;
                        right: 0;
                        height: 100%;
                        width: 6px;
                        z-index: 123;
                    }
                }
            }
        }
        .chat {
            background-color: #f3f3f9;
            .chat-structure {
                display: flex;
                height: 100%;
                flex-direction: column;
                .current-chat-head {
                    padding: 20px;
                    border-bottom: 1px solid black;
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                    align-items: center;
                    .user {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        .profile {
                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                            }
                        }
                        .content {
                            font-family: $font;
                            .name {
                                font-weight: 700;
                            }
                            .desc {
                                font-size: 12px;
                            }
                        }
                    }
                    .icon{
                        font-size: 20px;
                    }
                }
                .chat-body {
                    flex: 1;
                    height: calc(100vh - 60px - 85px - 151px);
                    position: relative;
                    .messages {
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        height: calc(100vh - 60px - 85px - 151px);
                        overflow-y: scroll;
                        overflow-x: hidden;
                        padding: 20px 0;
                        .msg {
                            position: relative;
                            background-color: white;
                            align-self: flex-start;
                            padding: 10px 25px;
                            font-family: $font;
                            border-radius: 10px;
                            text-align: left;
                            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                            min-width: 150px;
                            max-width: 50%;
                            &.mine {
                                align-self: flex-end;
                                @include background();
                                color: white;

                                .name {
                                    position: absolute;
                                    right: 10px;
                                    bottom: -25px;
                                    color: #333333ef;
                                    font-size: 12px;
                                }
                            }
                            .name {
                                position: absolute;
                                left: 10px;
                                bottom: -25px;
                                color: #333333ef;
                                font-size: 12px;
                            }
                        }
                    }
                    .underline {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 3px;
                        width: 100%;
                        z-index: 123;
                        transform-origin: 0 0;
                        @include background();
                    }
                    .down-arrow-to-bottom {
                        z-index: 123;
                        position: absolute;

                        bottom: 20px;
                        right: 50px;

                        background-color: white;

                        font-size: 20px;
                        padding: 10px;

                        border-radius: 50%;
                        cursor: pointer;

                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .chat-foot {
                    padding: 20px;
                    .box {
                        background-color: white;
                        padding: 20px;
                        padding-top: 10px;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        input {
                            padding: 5px 10px;
                            padding-top: 20px;
                            border: none;
                            outline: none;
                            color: #000;
                            &::placeholder {
                                color: #bcbcbcd5;
                            }
                        }
                        .options {
                            display: flex;
                            justify-content: space-between;
                            button {
                                padding: 6px 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
