@use "@/sass/global_req" as *;

.chat-page {
    height: 100vh;
    width: 100%;
    max-width: $maxW;
    margin: 0 auto;

    .chat-page-header {
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        .logo {
            flex: 1;
            font-family: $font;
        }
        nav {
            flex: 3;
            ul {
                display: flex;
                gap: 30px;
                li {
                    list-style: none;
                    font-family: $font;
                    padding: 20px 10px;
                    padding-bottom: 10px;
                    border-bottom: 6px solid $purple;
                }
            }
        }
        .user-profile {
            display: flex;
            gap: 10px;
            align-items: center;
            .pp {
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
            .name {
                font-family: $font;
            }
        }
    }
    .chat-page-body {
        display: grid;
        grid-template-columns: 0.8fr 2fr;
        background-color: gray;
        height: calc(100vh - 60px);

        .left-bar {
            display: flex;
            flex-direction: column;
            background-color: #f2efff;
            .query {
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                input {
                    padding: 8px 10px;
                    border-radius: 13px;
                    outline: none;
                    border: none;
                }
                .actions {
                    display: flex;
                    gap: 20px;
                    button {
                        all: unset;
                        border-radius: 20px;
                        text-align: center;
                        font-family: $font;
                        flex: 1;
                        padding: 6px 20px;
                        background-color: white;
                    }
                }
            }
            .conversations {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 6px;
                .conv {
                    background-color: white;
                    padding: 20px;
                    cursor: pointer;
                    font-family: $font;
                    &.active {
                        @include background();
                        color: white;
                    }
                }
            }
        }
        .chat {
            background-color: #f3f3f9;
            .chat-structure {
                display: flex;
                height: 100%;
                flex-direction: column;
                .current-chat-head {
                    padding: 10px;
                    border-bottom: 1px solid black;
                }
                .chat-body {
                    flex: 1;
                    padding: 10px 20px;
                    overflow-y: scroll;
                    max-height: calc(100vh - 60px - 40px - 150px);
                    .messages {
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        .msg {
                            position: relative;
                            background-color: white;
                            align-self: flex-start;
                            padding: 10px 25px;
                            font-family: $font;
                            border-radius: 10px;
                            text-align: left;
                            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                            min-width: 150px;
                            max-width: 50%;
                            &.mine {
                                align-self: flex-end;
                                @include background();
                                color: white;

                                .name {
                                    position: absolute;
                                    right: 10px;
                                    bottom: -25px;
                                    color: #333333ef;
                                    font-size: 12px;
                                }
                            }
                            .name {
                                position: absolute;
                                left: 10px;
                                bottom: -25px;
                                color: #333333ef;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .chat-foot {
                    padding: 20px;
                    .box {
                        background-color: white;
                        padding: 20px;
                        padding-top: 10px;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        input {
                            padding: 5px 10px;
                            padding-top: 20px;
                            border: none;
                            outline: none;
                            color: #000;
                            &::placeholder {
                                color: #bcbcbcd5;
                            }
                        }
                        .options {
                            display: flex;
                            justify-content: space-between;
                            button {
                                padding: 6px 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
